<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>모임리스트</title>
</head>
<body>
<h2>모임</h2>
<tr th:each="class: ${classList}">
  <td th:text="${class.id}"></td>
  <td><a th:href="@{|/Class/class_detail|}" th:text="${class.title}"></a></td>
  <td th:text="${class.member}"></td>
  <td th:text="${class.status}"></td>
  <td th:text="${class.description}"></td>
  <td th:text="*{#temporals.format(class.inst_date, 'yyyy-MM-dd')}"></td>
</tr>
</body>
</html>