<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>모임 만들기</title>
</head>
<body>
    <h2>Class</h2>
    <form action="/Class" method="post">
        모임이름: <input type="text" name="title"> <br>
        인원수: <input type="text" name="member"> <br>
        출발: <input type="text" name="start_region"> <br>
        도착: <input type="text" name="end_region"> <br>
        설명: <textarea name="description" cols="30" rows="10"></textarea> <br>
        <input type="submit" value="모임만들기" >
    </form>
    <button onclick="Class_Req()">나가기</button>
</body>
<script>
    const Class_Req = () => {
        location.href = "/Class";
    }
</script>
</html>