<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>login home</title>
</head>
<body>
<h2>로그인 홈 화면</h2>
<h2>Hi, I'm PloWithMe!</h2>
<a href="/Board">커뮤니티</a>
<a href="/Class">모임</a>
<h4 th:text="|user: ${user.name}|">로그인 사용자 이름</h4>

<form th:action="@{/logout}" method="post">
  <button type="button" th:onclick="|location.href='@{/user/mypage}'|" >
    마이페이지
  </button>

  <button type="button" th:onclick="|location.href='@{/login}'|" >
    로그아웃
  </button>
</form>
</body>
</html>
